@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic);

html {
  height:100%;
}

body {
  font-family:'Roboto', serif;
  font-size:16px;
  height:100%;
}

h1 {
  font-size:60px;
  margin-bottom:30px;
}

/*Local CSS*/

header {
 background-image: url('https://az616578.vo.msecnd.net/files/2015/11/21/6358374109665761811076502701_waltdisney-mickeybg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: 50% 50%;
  
padding-top: 100px;
  width: 100%;
}

header h3 {
  font-size:2.5em;
  color:#fff;
  font-weight:300;
}

header h3.quote {
  background-color:#359675;
  display:inline;
  line-height:56px;
}

header h3.name {
  font-style:italic;
  color:#359675;
}

#intro {
  padding:60px 0;
  margin-bottom:80px;
  min-height:100%;
}

#intro .profile {
  border-radius:50%;
  width:128px;
  height:128px;
  display:none;
}


#intro h1 {
  color:#359675;
}

#intro h1 small {
  font-size:0.4em;
  color:#514568;
  text-transform:uppercase;
}


#legacy {
  
  background-image:url(https://atdisneyagain.files.wordpress.com/2013/06/blue-castle-wallpaper-3-black-and-white.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
 width: 100%;
  padding:80px 0;
}

#legacy h1 {
  text-align:center;
  color:#514568;
  font-weight:300;
}

footer {
  background-color:rgba(0,0,0,0.8);
  
}

footer h1{
  font-size:0.9em;
  color:#fff;
  text-align:center;
}

footer a{
  color:#fff;
}

footer a:hover{
  color:#fff;
  background-color:rgba(81, 69, 107,0.9);
  text-decoration:none;
}

@media screen and (max-width:900px){
  
  header{
    height:450px;
    padding-top:76px;
  }
  
  header h3 {
  font-size:2em;
}
  header h3.quote {
  line-height:45px;
}

  
  #intro {
    padding:0 10px;
    margin-bottom:30px;
  }
  
   #legacy {
    padding-top:50px;
    
  }
  
} /* max-width 900 px */

@media screen and (max-width:750px){
  header{
    max-width:375px;
  }

  .walto { 
   font-family: 'WaltographRegular'; 
   font-weight: normal; 
   font-style: normal; 
 color: #359675;
  font-size:1em;
}
  
  nav h4 {
  font-weight:300;
  font-size:16px;
  margin: 16px 10px;
}
  
  h1 {
    font-size:2.5em;
    text-align:center;
    margin-top:20px;
  }
  
  #intro .profile {
    display:block;
    margin:80px auto 0;
  }
  #intro .walto{
    font-size: 2em;
  }
    
  header h3 {
  font-size:1em;
}
  header h3.quote {
  line-height:10px;
}
  header h3.walto{
    font-size:2em;
  }
  
  #legacy{
    max-width: 375px;
    padding-top: 0px 0px;
  }
  iframe{
    width: 25%;
  }



} /* max-width 600 px */
.border{
  border: 5px solid red;
}
.steamboat{
  width: 50%;
    height:50%;
}
.walto { 
   font-family: 'WaltographRegular'; 
   font-weight: normal; 
   font-style: normal; 
 color: #359675;
  font-size: 50px;
}
iframe{
  border: 5px solid red;
  width: 100%;
}